<% percentage_change = percentage_change(value, last_value) %>
<% color = value_color(percentage_change) %>

<span class="flex font-normal items-center mr-1.5 text-sm <%= color %> dark:<%= color %>">
  <%= arrow_icon(value - last_value) %>
  <%= percentage_change %>%
</span>