<% content_for(:title, 'Overview') %>

<header class="turbo-native:hidden">
  <nav class="z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-3 px-4">
    <div class="flex justify-between items-center max-w-screen-2xl mx-auto">
      <div class="flex justify-start items-center">
        <a href="#" class="flex mr-14">
          <span class="self-center hidden sm:flex text-2xl font-semibold whitespace-nowrap dark:text-white">StepStreak</span>
        </a>
      </div>
    </div>
  </nav>
</header>

<%= turbo_stream_from("activities_#{turbo_app_agent}") %>

<div id="dashboard-details">
  <%= turbo_frame_tag(:dashboard, src: dashboard_details_path) %>
</div>
