<% content_for(:title, 'Overview') %>

<%= turbo_stream_from("activities_#{turbo_app_agent}") %>

<div id="dashboard-details" data-controller="navigation">
  <%= turbo_frame_tag(:dashboard, src: dashboard_details_path) %>
</div>
