<% if turbo_native_app? %>
  <%= turbo_stream_from("activities_turbo_native_user_#{current_user.id}") %>
<% end %>

<div id="dashboard-details">
  <%= turbo_frame_tag(:dashboard, src: dashboard_details_path) do %>
    <%= render 'loading_skeleton' %>
  <% end %>
</div>

<%= render 'layouts/footer' %>