<div class="relative flex flex-col max-w-lg px-4 py-4 m-1 text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:bg-gray-800 dark:text-white">

  <h3 class="flex mb-4 text-xl font-semibold justify-center"><%= active_tournament.name %></h3>

  <div class="flex justify-center">
    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"><%= l(active_tournament.start_date, format: :long) %> - <%= l(active_tournament.end_date, format: :long) %></span>
  </div>
</div>
