<div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
  <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Steps this month</h3>

    <div class="w-full">
      <%= line_chart Overview::ActivitiesThisMonthQuery.call.group_by_day(:date).sum(:steps) %>
    </div>
  </div>
</div>