<main class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col justify-center items-center px-6 mx-auto min-h-screen xl:px-0 dark:bg-gray-900 py-5">
    <div class="xl:max-w-4xl">
      <h1 class="mb-3 text-4xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">Download StepStreak Now!</h1>
      <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">Ready to take the first step towards a healthier lifestyle? Download StepStreak today and join our community of fitness enthusiasts!</p>

      <a href="https://stepstreak.xyz/stepstreak.apk">
        <%= image_tag 'android-apk-badge.svg', width: '50%', alt: 'google_play_badge' %>
      </a>
    </div>
  </div>
</main>
