<% content_for(:title, 'How we handle your data?') %>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">At StepStreak</h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">We're committed to transparency and user control when it comes to data. Here's how we handle your activity data.</p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Data Collection for Enhanced Experience</h3>
        <p class="text-gray-500 dark:text-gray-400">StepStreak collects data such as steps taken, distance covered, and overall activity levels. This information helps us provide you with detailed summaries, visually appealing charts, and personalized insights to motivate and track your progress.</p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Purposeful Use of Data</h3>
        <p class="text-gray-500 dark:text-gray-400">The data you generate is used to enrich your experience with StepStreak. From offering monthly insights into your activity trends to enabling you to participate in fun, community-based challenges, your data plays a key role in making StepStreak a dynamic and engaging companion in your fitness journey.</p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Your Control Over Your Data</h3>
        <p class="text-gray-500 dark:text-gray-400">Your privacy is paramount. With StepStreak, you have full control over your personal data. You can easily manage, review, or delete your information at any time. We empower you to take charge of your data, ensuring it's used only in ways that benefit you.</p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Data Security and Privacy</h3>
        <p class="text-gray-500 dark:text-gray-400">We take the security of your data seriously. StepStreak employs robust security measures to protect your information from unauthorized access. Our commitment to data protection is unwavering, and we continually update our practices to keep your data safe.</p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Open and Accessible Privacy Policy</h3>
        <p class="text-gray-500 dark:text-gray-400">For more detailed information on how we use, store, and protect your data, please visit our <%= link_to "Privacy Policy", privacy_path, class: 'long-press-disabled dark:text-blue-500' %>. We've designed it to be clear and understandable, aligning with the latest data protection regulations.</p>
      </div>
    </div>
  </div>
</section>