<% content_for :title, "Privacy Policy" %>
<main class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col justify-center items-center px-6 mx-auto xl:px-0 dark:bg-gray-900">
        <div class="text-center xl:max-w-4xl mt-5">
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">StepStreak offers a dynamic way to track and analyze your daily activities, transforming your smartphone into a powerful activity analyst. It's not just an app; it's your partner in keeping active and engaged.</p>

            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400"><strong>Effective Date:</strong> 15/12/2023</p>

            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">At StepStreak ("we," "us," "our"), we respect your privacy and are committed to protecting your personal data. This Privacy Policy explains how we collect, use, and safeguard the information you provide while using the StepStreak mobile application ("App").</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">1. Data Collection and Use</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">We collect data related to your activity, including steps taken, distance traveled, calories burned, and heart rate, when you sync your device with our App. This data is used exclusively to provide you with personalized summaries, graphs, and to enable your participation in challenges.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">2. Data Control and Access</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">You have full control over your data. You can access and review your data at any time through the App. We provide you with the tools to manage your data effectively.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">3. Data Sharing and Disclosure</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">We do not share your personal data with third parties for their marketing purposes. Data is only used internally to enhance your experience with the App.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">4. Data Security</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">We take the security of your data seriously and implement appropriate measures to prevent unauthorized access, disclosure, alteration, or destruction of your data.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">5. Account Deletion</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">You have the right to delete your account at any time. Upon deletion, all your personal data will be permanently removed from our servers.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">6. Changes to This Policy</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

            <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">7. Contact Us</h3>
            <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">If you have any questions about this Privacy Policy, please contact us at <a href="mailto:mrahmoun93@gmail.com">mrahmoun93@gmail.com</a> .</p>
        </div>
    </div>
</main>
