<% content_for :title, "Privacy Policy" %>
<main class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col justify-center items-center px-6 mx-auto xl:px-0 dark:bg-gray-900">
        <div class="text-center xl:max-w-4xl mt-5">
          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            Effective Date: 15/12/2023
          </p>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            Welcome to StepStreak, your dynamic companion for tracking and analyzing daily activities. We transform your smartphone into a powerful activity analyst, dedicated to keeping you active and engaged.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">1. Data Collection and Use</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>What We Collect:</strong> We collect data related to your physical activities, including and only limited to steps taken, distance traveled, calories burned, and heart rate. This collection happens when you sync your smartphone with our App.
          </p>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Purpose of Collection:</strong> The data we collect is used to offer you personalized activity summaries, detailed graphs, and insights. It enables participation in our App’s challenge mode, where you can compete with others and track your progress in a fun and engaging way.
          </p>

          <p class="text-base mb-5 dark:text-gray-400">Stepstreak's use and transfer of information received from Google APIs to any other app will adhere to <a href="https://developers.google.com/terms/api-services-user-data-policy" class="text-blue-500"> Google API Services User Data Policy</a>, including the Limited Use requirements.</p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">2. Data Control and Access</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Your Rights:</strong> You maintain full control over your data. Within the App, you can access, review, and manage your data anytime.
          </p>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Data Management Tools:</strong> We provide easy-to-use tools within the App that allow you to adjust your data preferences and settings, ensuring you have full autonomy over your information.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">3. Data Sharing and Disclosure</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Internal Use Only:</strong> We do not share your personal data with third-party marketers. Your data is used exclusively within StepStreak to enhance and personalize your experience.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">4. Data Security</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Commitment to Security:</strong> Protecting your data is a top priority for us. We implement a range of security measures to safeguard your personal information from unauthorized access, alteration, disclosure, or destruction.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">5. Account Deletion</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Deletion Process:</strong> If you choose to delete your account, you can do so through the link in the footer. Upon deletion, all your personal data associated with the account will be permanently removed from our servers.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">6. Changes to This Policy</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Policy Updates:</strong> We may update this Privacy Policy periodically. Any changes will be posted on this page, and we will endeavor to notify you of significant changes through the App or via email.
          </p>

          <h3 class="mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white">7. Contact Us</h3>

          <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">
            <strong>Feedback and Queries:</strong> If you have any questions or concerns about this Privacy Policy or our data practices, please don't hesitate to contact us at mrahmoun93@gmail.com.
        </div>
    </div>
</main>