<% content_for(:title, 'Unsupported copy') %>

<main class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col justify-center items-center px-6 mx-auto min-h-screen xl:px-0 dark:bg-gray-900 py-5">
    <div class="xl:max-w-4xl">
      <h1 class="mb-3 text-2xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl dark:text-white">🌟 Important Update for StepStreak Users! 🌟</h1>
      <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">Hello Valued StepStreakers! We're excited to announce that we're stepping into a new phase with StepStreak! As we continue to evolve and improve, we are retiring our alpha version and introducing a brand-new, feature-rich version of StepStreak. This wouldn't have been possible without your support and feedback during our early days.</p>

      <h3 class="mb-3 text-1xl font-bold leading-tight text-gray-900 sm:text-1xl lg:text-1xl dark:text-white">To ensure a seamless transition to the enhanced StepStreak experience, we kindly ask you to follow these simple steps:</h3>
      <ol class="list-decimal pl-4 mb-4 space-y-3 text-gray-500 dark:text-gray-400">
        <li class="mb-2">Disconnect Old App from Google Fit:
          <ul class="list-disc ml-6">
            <li>Go to your Google Fit app.</li>
            <li>Tap on 'Profile' at the bottom right.</li>
            <li>Select 'Settings' (gear icon in the top right).</li>
            <li>Scroll down to 'Connected apps and devices'.</li>
            <li>Find StepStreak and select 'Disconnect'. Confirm by selecting 'Disconnect' again.</li>
          </ul>
        </li>
        <li class="mb-2">Uninstall the Alpha Version of StepStreak:
          <ul class="list-disc ml-6">
            <li>Long press the StepStreak app icon on your device.</li>
            <li>Tap on 'Uninstall' or drag the icon to the 'Uninstall' bin that appears.</li>
          </ul>
        </li>
        <li class="mb-2">Download the New StepStreak:
          <ul class="list-disc ml-6">
            <li>Visit the Google Play Store.</li>
            <li>Search for 'StepStreak' and look for our new app icon.</li>
            <li>Tap 'Install' to download the latest version.</li>
          </ul>
        </li>
        <li class="mb-2">Log In and Connect to Google Fit:
          <ul class="list-disc ml-6">
            <li>Open the new StepStreak app.</li>
            <li>Log in with your existing credentials or create a new account.</li>
            <li>When prompted, grant access to Google Fit to keep tracking your steps seamlessly.</li>
          </ul>
        </li>
      </ol>

      <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">Your journey to better health and fitness is important to us, and we're thrilled to continue supporting you with our new and improved app. Thank you for being a part of our StepStreak family! If you have any questions or need assistance, feel free to reach out to us.</p>

      <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400">Happy Stepping!</p>

      <p class="mb-5 text-1xl font-bold leading-tight text-gray-900 sm:text-1xl lg:text-1xl dark:text-white">👟 The StepStreak Team 👟</p>
    </div>
  </div>
</main>
