<li class="flex items-center text-blue-600 dark:text-blue-500">
  <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
     <%= challenge_order %>
  </span>
  <%= challenge.title %>
</li>