<li class="flex items-center">
  <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
     <%= challenge_order %>
  </span>
  <%= challenge.title %>
</li>