<div data-popover id="<%= team.name %>" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
    <h3 class="font-semibold text-gray-900 dark:text-white"><%= team.name %></h3>
  </div>
  <div class="px-3 py-2">
    <% team.challenge_users.order(score: :desc).each do |challenge_user| %>
      <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        <li class="pb-3 sm:pb-4">
          <div class="flex items-center space-x-4 rtl:space-x-reverse">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                <%= challenge_user.user.username %>
              </p>
            </div>
            <div class="inline-flex items-center text-sm text-gray-900 dark:text-white">
              <%= challenge_user.score %>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
  <div data-popper-arrow></div>
</div>



